body {
    margin: 0;
    font-family: Helvetica;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.title {
    text-align: center;
    font-size: 2.5rem;
}

#game {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#board,
canvas {
    border: 1px solid black;
}

.side-container {
    width: 240px;
    border-radius: 4px;
    margin: 0 50px;
    padding: 1rem;
}

.side-container > div {
    margin-bottom: 20px;
}

.side-container .side-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(5, 161, 5);
}

.side-container .side-title + span {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(5, 161, 5);
}

#gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    display: none;
}

#gameOver.show {
    display: block;
}
