body {
    margin: 0;
    font-family: Helvetica;
}

.title {
    text-align: center;
    font-size: 2.5rem;
}

#game {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#board,
canvas {
    border: 1px solid black;
}

.side-container {
    width: 240px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 50px;
    padding: 1rem;
}

.side-container > div {
    margin-bottom: 20px;
}

.side-container .side-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.side-container .side-title + span {
    font-size: 1.2rem;
    font-weight: bold;
}
